.hero-wrapper {

  width:100%;
  height:100vh;

  position:relative;

  overflow:hidden;

}



.hero-slider {

  width:100%;
  height:100vh;

}



.swiper-slide {

  width:100%;
  height:100vh;

}



.slide {

  width:100%;
  height:100vh;

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;

  position:relative;

  display:flex;

  align-items:center;

}



/* Overlay سینمایی */

.overlay {

  position:absolute;

  inset:0;

  background:linear-gradient(
    to left,
    rgba(16,8,7,.85),
    rgba(16,8,7,.25)
  );

}





/* متن */

.slide-content {

  position:relative;

  z-index:2;

  margin-right:80px;

  margin-left:auto;

  max-width:500px;

  color:var(--text-color);

  direction:rtl;

  text-align:right;

}



.slide-content h1 {

  font-size:60px;

  margin-bottom:20px;

  color:var(--secondary-color);

  font-weight:700;

}



.slide-content p {

  font-size:20px;

  line-height:1.8;

  margin-bottom:30px;

  color:var(--text-color);

}





/* دکمه */

.slide-content button {

  padding:12px 35px;

  border:none;

  border-radius:30px;

  background:var(--primary-color);

  color:#FFF7ED;

  font-size:16px;

  cursor:pointer;

  transition:.3s;

}



.slide-content button:hover {

  background:var(--secondary-color);

  color:#2B1717;

  transform:translateY(-3px);

}





/* فلش ها */

.slider-btn {

  position:absolute;

  bottom:40px;

  z-index:5;

  width:45px;

  height:45px;

  border-radius:50%;

  border:1px solid var(--secondary-color);

  background:rgba(0,0,0,.35);

  color:var(--secondary-color);

  font-size:18px;

  cursor:pointer;

  transition:.3s;

}



.slider-btn:hover {

  background:var(--primary-color);

  color:#FFF7ED;

}



.prev {

  left:30px;

}



.next {

  left:90px;

}





/* Pagination */

.swiper-pagination {

  bottom:35px !important;

  left:50% !important;

  transform:translateX(-50%);

  width:auto !important;

}



.swiper-pagination-bullet {

  width:10px;

  height:10px;

  background:var(--secondary-color) !important;

  opacity:.5;

}



.swiper-pagination-bullet-active {

  background:var(--primary-color) !important;

  opacity:1;

  box-shadow:

  0 0 8px var(--primary-color),

  0 0 15px var(--primary-color);

}





/* موبایل */

@media(max-width:650px){


.slide-content {

  margin-right:25px;

  max-width:90%;

}



.slide-content h1 {

  font-size:38px;

}



.slide-content p {

  font-size:16px;

}


}