.hero-wrapper {

  width:100%;

  height:100vh;

  position:relative;

  overflow:hidden;

}



.hero-slider {

  width:100%;

  height:100vh;

}



.hero-slider .swiper-slide {

  width:100%;

  height:100vh;

}



.slide {

  width:100%;

  height:100vh;

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;

  position:relative;

  display:flex;

  align-items:center;

}





.overlay {

  position:absolute;

  inset:0;

  background:linear-gradient(

    to left,

    rgba(0,0,0,.8),

    rgba(0,0,0,.25)

  );

}





.slide-content {

  position:relative;

  z-index:2;

  margin-right:80px;

  margin-left:auto;

  max-width:500px;

  color:#FFF8F0;

  direction:rtl;

  text-align:right;

}



.slide-content h1 {

  font-size:60px;

  margin:0 0 20px;

  color:#F5D6B3;

  font-weight:700;

  text-shadow:0 3px 15px rgba(0,0,0,.8);

}



.slide-content p {

  font-size:20px;

  line-height:1.8;

  margin:0 0 30px;

  color:#FFF8F0;

}





.slide-content button {

  padding:12px 35px;

  border:none;

  border-radius:30px;

  background:var(--primary-color);

  color:white;

  font-size:16px;

  cursor:pointer;

}





/* HERO ARROWS */

.hero-slider-btn {

  position:absolute;

  bottom:40px;

  z-index:10;

  width:45px;

  height:45px;

  border-radius:50%;

  border:1px solid var(--secondary-color);

  background:rgba(0,0,0,.35);

  color:#FFF8F0;

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:18px;

}





.hero-slider-btn.prev {

  left:30px;

}



.hero-slider-btn.next {

  left:90px;

}





.hero-slider .swiper-pagination {

  bottom:35px !important;

}





.hero-slider .swiper-pagination-bullet {

  width:10px;

  height:10px;

  background:var(--secondary-color)!important;

  opacity:.5;

}





.hero-slider .swiper-pagination-bullet-active {

  background:var(--primary-color)!important;

  opacity:1;

}







/* TABLET */

@media(max-width:900px){


  .hero-wrapper,

  .hero-slider,

  .hero-slider .swiper-slide,

  .slide {

    height:80vh;

  }



  .slide-content {

    margin-right:50px;

    max-width:450px;

  }



  .slide-content h1 {

    font-size:45px;

  }



  .slide-content p {

    font-size:18px;

  }


}







/* MOBILE */

@media(max-width:650px){


  .hero-wrapper,

  .hero-slider,

  .hero-slider .swiper-slide,

  .slide {

    height:65vh;

  }



  .slide-content {

    margin-right:25px;

    max-width:85%;

  }



  .slide-content h1 {

    font-size:34px;

  }



  .slide-content p {

    font-size:14px;

    line-height:1.6;

  }



  .slide-content button {

    padding:10px 25px;

    font-size:14px;

  }



  .hero-slider-btn {

    width:35px;

    height:35px;

    bottom:20px;

  }



  .hero-slider-btn.prev {

    left:20px;

  }



  .hero-slider-btn.next {

    left:65px;

  }


}