
.genre-page {

  width:100%;

  min-height:100vh;

  background:var(--bg-color);

  direction:rtl;

}





.genre-page-container {

  width:100%;

  max-width:1500px;

  margin:0 auto;

  padding:50px 60px;

}





/* HEADER */

.genre-page-header {

  text-align:right;

  margin-bottom:35px;

}





.genre-page-header h1 {

  color:var(--secondary-color);

  font-size:30px;

  font-weight:700;

  margin:50px 0 10px;

}





.genre-page-header p {

  color:var(--text-color);

  font-size:16px;

  opacity:.8;

  margin:0;

}







/* GRID */

.genre-page-grid {

  display:grid;

  grid-template-columns:repeat(auto-fit,150px);

  justify-content:center;

  gap:35px;

}







/* CARD */

.genre-page-card {

  width:150px;

  height:150px;


  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;


  text-decoration:none;

  cursor:pointer;



  background:

  linear-gradient(

    145deg,

    rgba(255,255,255,.25),

    rgba(255,255,255,.05)

  );



  backdrop-filter:blur(15px);



  border:1px solid rgba(255,255,255,.25);



  border-radius:

  48% 52% 45% 55% /

  55% 45% 55% 45%;



  box-shadow:

  0 15px 35px rgba(0,0,0,.25);



  transition:.3s ease;

}





.genre-page-card:hover {

  transform:translateY(-10px) scale(1.05);

}





.genre-page-icon {

  font-size:42px;

  color:var(--primary-color);

  margin-bottom:15px;

}





.genre-page-card h3 {

  color:var(--text-color);

  font-size:17px;

  font-weight:600;

  margin:0;

}







/* TABLET */

@media(max-width:900px){


  .genre-page-container {

    padding:40px 35px;

  }


}







/* MOBILE */

@media(max-width:650px){


  .genre-page-container {

    padding:35px 20px;

  }



  .genre-page-header h1 {

    font-size:24px;

  }



  .genre-page-header p {

    font-size:14px;

  }



  .genre-page-grid {

    grid-template-columns:repeat(2,120px);

    gap:20px;

  }



  .genre-page-card {

    width:120px;

    height:120px;

  }



  .genre-page-icon {

    font-size:34px;

  }


}
/* Light Mode */

body.light .genre-page-card {

  background:

  linear-gradient(

    145deg,

    rgba(255,255,255,.9),

    rgba(240,240,240,.7)

  );


  border:1px solid rgba(0,0,0,.08);


  box-shadow:

  0 15px 35px rgba(0,0,0,.12);

}





/* Dark Mode */

body.dark .genre-page-card {


  background:

  linear-gradient(

    145deg,

    rgba(255,255,255,.25),

    rgba(255,255,255,.05)

  );


  border:1px solid rgba(255,255,255,.25);


  box-shadow:

  0 15px 35px rgba(0,0,0,.25);


}
