.genre-page {

  width:100%;

  min-height:100vh;

  background:var(--bg-color);

  direction:rtl;

}



.genre-page-container {

  width:100%;

  max-width:1500px;

  margin:0 auto;

  padding:50px 60px;

}



/* HEADER */

.genre-page-header {

  text-align:right;

  margin-bottom:35px;

}



.genre-page-header h1 {

  color:var(--secondary-color);

  font-size:30px;

  font-weight:700;

  margin:50px 0 10px;

}



.genre-page-header p {

  color:var(--text-color);

  font-size:16px;

  opacity:.8;

  margin:0;

}



/* GRID */

.genre-page-grid {

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:30px;

}



/* CARD */

.genre-page-card {

  height:140px;


  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;


  text-decoration:none;

  cursor:pointer;


  background:

  linear-gradient(

    145deg,

    rgba(255,255,255,.25),

    rgba(255,255,255,.05)

  );


  backdrop-filter:blur(15px);


  border:1px solid rgba(255,255,255,.25);


  border-radius:22px;


  transition:.35s ease;

}



.genre-page-card:hover {

  transform:translateY(-10px);

}



/* ICON */

.genre-page-icon {

  font-size:42px;

  color:var(--primary-color);

  margin-bottom:15px;

  transition:.3s ease;

}



.genre-page-card:hover .genre-page-icon {

  transform:scale(1.2);

}



/* TEXT */

.genre-page-card h3 {

  color:var(--text-color);

  font-size:17px;

  font-weight:600;

  margin:0;

}



/* DARK MODE */

body.dark .genre-page-card {

  background:

  linear-gradient(

    145deg,

    rgba(255,255,255,.15),

    rgba(255,255,255,.03)

  );


  border:1px solid rgba(255,255,255,.25);

}



/* LIGHT MODE */

body.light .genre-page-card {

  background:

  linear-gradient(

    145deg,

    #8E1F3F,

    #6F162F

  );


  border:2px solid #D4A373;


}



body.light .genre-page-icon {

  color:#F3D7B6;

}



body.light .genre-page-card h3 {

  color:#FFF7ED;

}



/* TABLET */

@media(max-width:900px){


  .genre-page-container {

    padding:40px 35px;

  }



  .genre-page-grid {

    grid-template-columns:repeat(3,1fr);

    gap:25px;

  }


}



/* MOBILE */

@media(max-width:650px){


  .genre-page-container {

    padding:35px 20px;

  }



  .genre-page-header h1 {

    font-size:24px;

  }



  .genre-page-header p {

    font-size:14px;

  }



  .genre-page-grid {

    grid-template-columns:repeat(2,1fr);

    gap:20px;

  }



  .genre-page-card {

    height:120px;

  }



  .genre-page-icon {

    font-size:34px;

  }



  .genre-page-card h3 {

    font-size:15px;

  }


}