body.dark {

  --bg-color:#100807;

  --surface-color:#1E1212;

  --card-color:#291717;

  --primary-color:#B8324A;

  --secondary-color:#F3D7B6;

  --text-color:#FFF7ED;

  --muted-color:#C8B6A6;

}



body.light {

  --bg-color:#FFF7ED;

  --surface-color:#FFFFFF;

  --card-color:#F8EDE3;

  --primary-color:#8E1F3F;

  --secondary-color:#C98B5B;

  --text-color:#2B1717;

  --muted-color:#6E5550;

}