.movie-card {

  width:220px;

  height:330px;

  position:relative;

  overflow:hidden;

  cursor:pointer;

  background:#111;


  /* گوشه های نرم نامنظم */

  border-radius:

  45px 20px 55px 30px;


  transition:.35s ease;


  box-shadow:

  0 10px 30px rgba(0,0,0,.3);

}





.movie-card:hover {

  transform:

  translateY(-12px)

  scale(1.04);


  box-shadow:

  0 25px 50px rgba(0,0,0,.45);

}







/* IMAGE */

.movie-image {

  width:100%;

  height:100%;

  position:relative;

}





.movie-image img {

  width:100%;

  height:100%;

  object-fit:cover;

  transition:.5s ease;

}





.movie-card:hover .movie-image img {

  transform:scale(1.1);

}








/* OVERLAY */

.movie-overlay {

  position:absolute;

  inset:0;


  background:

  linear-gradient(

    to top,

    rgba(0,0,0,.95),

    rgba(0,0,0,.25)

  );


  display:flex;

  align-items:flex-end;


  padding:20px;


  opacity:0;


  transition:.4s ease;

}





.movie-card:hover .movie-overlay {

  opacity:1;

}








/* محتویات هاور */

.movie-hover-content {

  color:white;

}






.movie-hover-content h3 {

  font-size:20px;

  margin-bottom:10px;

}






.movie-hover-content p {

  font-size:13px;

  line-height:1.6;

  color:#ddd;

  margin-bottom:15px;

}







.movie-meta {

  display:flex;

  gap:8px;

  margin-bottom:15px;

}







.movie-meta span {

  background:

  rgba(255,107,0,.2);


  padding:5px 10px;

  border-radius:20px;

  font-size:12px;

}







.movie-meta span:first-child {

  color:#ff6b00;

}








/* BUTTON */

.movie-overlay button {


  width:100%;


  padding:10px;


  border:none;


  border-radius:25px;


  background:

  var(--primary-color);


  color:white;


  cursor:pointer;


  font-size:14px;


  transition:.3s;


}





.movie-overlay button:hover {


  background:

  var(--secondary-color);


  color:#222;


}









@media(max-width:650px){


.movie-card{

  width:180px;

  height:270px;

}


}