.movie-card {

  width:220px;
  height:330px;

  position:relative;
  overflow:hidden;

  cursor:pointer;

  background:#111;

  border-radius:25px;

  transition:.35s ease;

  box-shadow:0 3px 10px rgba(0,0,0,.12);

}



/* فقط دسکتاپ Hover */

@media (min-width:901px) {


  .movie-card:hover {

    transform:translateY(-6px) scale(1.02);

    box-shadow:0 8px 18px rgba(0,0,0,.18);

  }



  .movie-card:hover .movie-image img {

    transform:scale(1.08);

  }



  .movie-card:hover .movie-overlay {

    opacity:1;

  }

}





.movie-image {

  width:100%;

  height:100%;

  position:relative;

}



.movie-image img {

  width:100%;

  height:100%;

  object-fit:cover;

  transition:.5s ease;

}





.movie-overlay {

  position:absolute;

  inset:0;


  background:linear-gradient(
    to top,
    rgba(0,0,0,.9),
    rgba(0,0,0,.15)
  );


  display:flex;

  align-items:flex-end;


  padding:20px;


  opacity:0;


  transition:.4s ease;

}





/* Click در Tablet و Mobile */

.movie-card.show-info .movie-overlay {

  opacity:1;

}



.movie-card.show-info .movie-image img {

  transform:scale(1.08);

}





.movie-hover-content {

  color:white;

}





.movie-hover-content h3 {

  font-size:20px;

  font-weight:700;

  margin-bottom:10px;

}





.movie-hover-content p {

  font-size:13px;

  font-weight:500;

  line-height:1.6;

  color:#ddd;

  margin-bottom:15px;

}





.movie-meta {

  display:flex;

  align-items:center;

  gap:8px;

  margin-bottom:15px;

}





.movie-meta span {

  display:flex;

  align-items:center;

  gap:5px;


  background:rgba(255,255,255,.15);


  padding:5px 10px;

  border-radius:20px;


  font-size:12px;

  font-weight:600;

}





.movie-meta svg {

  color:#ffb703;

  font-size:13px;

}





.movie-overlay button {

  width:100%;


  padding:10px;


  border:none;

  border-radius:25px;


  background:var(--primary-color);

  color:white;


  cursor:pointer;


  font-size:14px;

  font-weight:700;

}





/* TABLET */

@media(max-width:900px){


  .movie-card {

    width:200px;

    height:300px;

  }


}





/* MOBILE */

@media(max-width:650px){


  .movie-card {

    width:160px;

    height:245px;

  }



  .movie-overlay {

    padding:15px;

  }



  .movie-hover-content h3 {

    font-size:17px;

  }



  .movie-hover-content p {

    font-size:12px;

  }



  .movie-meta {

    gap:5px;

  }



  .movie-meta span {

    padding:4px 8px;

    font-size:11px;

  }



  .movie-overlay button {

    padding:8px;

    font-size:13px;

  }


}