.home {

  width:100%;

  min-height:100vh;

  background:var(--bg-color);

  color:var(--text-color);

  transition:.3s ease;

}





.home-container {

  width:100%;

  max-width:1500px;

  margin:0 auto;


  padding:40px 60px;


  display:flex;

  flex-direction:column;


  gap:40px;

}





/* Popular Movies */

.popular-section {

  margin:0;

}





/* Latest Movies */

.latest-section {

  margin:0;

}





/* Top Rated Movies */

.top-rated-section {

  margin:0;

}





/* Genres */

.genres-section {

  margin:0;

}





@media(max-width:900px){


  .home-container {

    padding:35px;

    gap:25px;

  }


}





@media(max-width:650px){


  .home-container {

    padding:25px 20px;

    gap:25px;

  }


}