.movies-page {

  width:100%;

  min-height:100vh;

  background:var(--bg-color);

  direction:rtl;

}



.movies-container {

  width:100%;

  max-width:1500px;

  margin:0 auto;

  padding:50px 60px;

}





/* HEADER */

.movies-header {

  text-align:right;

  margin-bottom:35px;

}



.movies-header h1 {

  color:var(--secondary-color);

  font-size:28px;

  font-weight:700;

  margin:50px 0 10px;

}



.movies-header p {

  color:var(--text-color);

  font-size:16px;

  opacity:.8;

  margin:0;

}





/* GRID */

.movies-grid {

  display:grid;

  grid-template-columns:repeat(auto-fit,220px);

  justify-content:center;

  gap:30px;

}





/* TABLET */

@media(max-width:900px){


  .movies-container {

    padding:35px;

  }



  .movies-grid {

    grid-template-columns:repeat(3,220px);

    gap:25px;

  }


}





/* MOBILE */

@media(max-width:650px){


  .movies-container {

    padding:25px 20px;

  }



  .movies-grid {

    grid-template-columns:repeat(2,160px);

    column-gap:25px;

    row-gap:25px;

  }



  .movies-header h1 {

    font-size:22px;

  }



  .movies-header p {

    font-size:13px;

    line-height:1.8;

  }


}
