.movie-section {

  padding:25px 0 45px;

  direction:rtl;

  background:var(--bg-color);

}





/* HEADER */

.section-header {

  display:flex;

  align-items:center;

  justify-content:space-between;

  margin-bottom:25px;

}





.section-header h2 {

  color:var(--secondary-color);

  font-size:26px;

  font-weight:700;

  margin:0;

}







/* VIEW ALL */

.view-all-btn {

  display:flex;

  align-items:center;

  gap:8px;

  color:var(--primary-color);

  text-decoration:none;

  font-size:15px;

  cursor:pointer;

  transition:.3s ease;

}



.view-all-btn svg {

  font-size:14px;

  transition:.3s ease;

}



.view-all-btn:hover {

  color:var(--secondary-color);

}



.view-all-btn:hover svg {

  transform:translateX(-5px);

}









/* فقط اسلایدر فیلم */

.movie-slider-wrapper .swiper-slide {

  display:flex;

  justify-content:center;

}







.movie-slider {

  width:100%;

}









/* فلش های پایین کارت ها */

.slider-buttons {

  display:flex;

  justify-content:center;

  align-items:center;

  gap:12px;

  margin-top:25px;

}





.slider-btn {

  width:36px;

  height:36px;

  border-radius:50%;

  border:none;

  background:var(--primary-color);

  color:white;

  display:flex;

  align-items:center;

  justify-content:center;

  cursor:pointer;

  transition:.3s ease;

}





.slider-btn:hover {

  transform:scale(1.1);

  background:var(--secondary-color);

  color:#2B1717;

}









/* TABLET */

@media(max-width:768px){


  .movie-section {

    padding:25px 0 40px;

  }



  .section-header h2 {

    font-size:24px;

  }


}









/* MOBILE */

@media(max-width:650px){


  .section-header h2 {

    font-size:21px;

  }



  .view-all-btn {

    font-size:14px;

  }



  .slider-btn {

    width:32px;

    height:32px;

  }


}