.popular-page {

  width:100%;

  min-height:100vh;

  background:var(--bg-color);

  direction:rtl;

}



.popular-container {

  width:100%;

  max-width:1500px;

  margin:0 auto;

  padding:50px 60px;

}





/* HEADER */

.popular-header {

  margin-bottom:35px;

  text-align:right;

}



.popular-header h1 {

  color:var(--secondary-color);

  font-size:28px;

  font-weight:700;

  margin:50px 0 10px;
  
}



.popular-header p {

  color:var(--text-color);

  font-size:16px;

  opacity:.8;

  margin:0;

}





/* GRID */

.movies-grid {

  display:grid;

  grid-template-columns:repeat(auto-fit,220px);

  justify-content:center;

  gap:30px;

}







/* TABLET */

@media(max-width:900px){


  .popular-container {

    padding:40px 35px;

  }



  .movies-grid {

    grid-template-columns:repeat(3,220px);

    gap:25px;

  }


}







/* MOBILE */

@media(max-width:650px){


  .popular-container {

    padding:35px 15px;

  }



  .movies-grid {

    grid-template-columns:repeat(2,160px);

    gap:20px;

  }



  .popular-header h1 {

    font-size:22px;

  }



  .popular-header p {

    font-size:13px;

  }


}